*
{
	margin: 0;
}
body
{
	font-family: sans-serif;
	color: #eee;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
a
{
	color: #eee;
	background: #555;
	border-radius: 0.25em;
	padding: 0 0.2em;
	text-decoration: none;
}
a:hover
{
	background: #666;
	color: #fff;
}
header, footer
{
	background: #333;
}
main
{
	background: #111;
	flex-grow: 1;
}
footer
{
	font-size: 0.7em;
	padding: 0.5em;
}
