*
{
	margin: 0;
}
body
{
	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: #111;
}
a
{
	text-decoration: none;
}
header > h1
{
	font-size: 3em;
}
h1
{
	color: #ddd;
}
header, footer
{
	background: #111;
	color: #aaa;
	padding: 2em 0.5em 0 0.5em;
}
header a,
footer a
{
	color: #eee;
}
header a:hover,
footer a:hover
{
	color: #fff;
}
footer
{
	font-size: 0.7em;
}
footer > p
{
	min-width: 80%;
	max-width: 100%;
	width: 20em;
}
main
{
	background: #eee;
	flex-grow: 1;
	padding: 1em 0;
}
main h1
{
	margin: 0.1em 0;
	padding: 0.75em 0.5em 0 0.5em;
	background: #111;
	display: inline-block;
	position: relative;
}
main h1::before,
main h1::after
{
	content:"";
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	width: 0.4em;
	background: #111;
	border-radius: 0 0.4em 0.4em 0;
}
main h1::before
{
	background: #ddd;
	width: 1em;
}
main p
{
	margin: 0.2em 0.5em 0.5em 0.5em;
}
h2, h3
{
	font-size: 1.2em;
	margin-top: 0.5em;
}
h3
{
	font-size: 1em;
}
